{% extends "base.html" %}
{% block title %}Compra {{ compra.fecha }}{% endblock %}
{% block content %}
<h1 class="h3 mb-3">Compra del {{ compra.fecha.strftime("%Y-%m-%d") }}</h1>
<p>Factura: {{ compra.numero_factura or "-" }} {% if compra.notas %}&mdash; {{ compra.notas }}{% endif %}</p>

<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>Producto</th>
      <th class="text-end">Cantidad (unidades)</th>
      <th class="text-end">Costo</th>
      <th class="text-end">Tasa descuento</th>
      <th class="text-end">Crédito generado</th>
    </tr>
  </thead>
  <tbody>
    {% for d in compra.detalles %}
    <tr>
      <td>{{ d.producto.nombre }}</td>
      <td class="text-end">{{ d.cantidad_comprada_unidades }}</td>
      <td class="text-end">${{ "{:,}".format(d.costo_linea) }}</td>
      <td class="text-end">{{ d.tasa_descuento_aplicada }}%</td>
      <td class="text-end">${{ "{:,}".format(d.credito_generado) }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="fw-bold">
      <td>Total</td>
      <td class="text-end">{{ compra.detalles | sum(attribute="cantidad_comprada_unidades") }}</td>
      <td class="text-end">${{ "{:,}".format(compra.detalles | sum(attribute="costo_linea")) }}</td>
      <td></td>
      <td class="text-end">${{ "{:,}".format(compra.detalles | sum(attribute="credito_generado")) }}</td>
    </tr>
  </tfoot>
</table>
<a href="{{ url_for('compras.listar') }}" class="btn btn-link">&larr; Volver</a>
{% endblock %}
